* {
    box-sizing: border-box;
}
  
/* Global page settings*/
body {
    background-image: url("../images/circuit.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 32px;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}
    
/* Header (logo[My Name] and links menu */
.Header {
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;  
    height: 100px; 
}

.innerHeader {
    width: 960px;
    margin: 0 auto;
    position: relative;

}

.logo {
    position: absolute;
    float: left;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 20px;
    font-size: 40px;
    top: 26px;
}  

.linkMenu {
    position: absolute;
    right: 20px;
    top: 45px;
}

a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 2px solid #cccccc;
}

a:last-child {
    border-right: none;
}

/* Main container */
.wrapper {
    position: relative;
    top: 50px;
    width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

/* About me*/
img.about-photo {
    float: left;
	width: 200px;
    height: 200px;
    transform:  rotate(90deg);
    padding-top: 20px;
}

/* Contact page*/
input[type=text], select {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
}

button {
    padding: 10px 25px;
    background-color: #4aaaa5;
    color: #ffffff;
}

/*Portfolio page*/

.portfolioImg {
    position: relative;
    float: left;
    margin: 40px;
}

.photo {
    width: 250px;
    height: 250px;
}

.portfolio {
    width: 960px;
}

.description {
    position: absolute;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
    bottom: 20px;
    width: 100%;
}

/* Footer*/
footer {
    background-color: #cccccc;
    border-top: 8px solid #4aaaa5;
    text-align: center;
}